html {
  margin: 5px;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* display: inline-block; 
    float parent and child elements
    */
body {
  text-align: center;
  background-image: url('https://live.staticflickr.com/3165/2558160805_d8cc4d741b_h.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1,
h2 {
  box-sizing: border-box;
  font-family: 'Balthazar', serif;
  size: 1rem;
  margin: 1px;
}

.introduction {
  font-size: 1.1rem;
}

.damageTable {
  max-width: 50%;
  /* float: ; */
}

.healthLevels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

.userHealthLevelCount {
  color: red;
}
.computerHealthLevelCount {
  color: red;
}

.roundsRemainingCount {
  color: blue;
}

.callToAction {
  margin: 0.5rem 0 0 0;
}

.spellButtons {
  margin: 0.7rem 0 1.1rem;
}

.waterButton,
.fireButton,
.earthButton,
.airButton {
  background-color: #a1b1bf;
  border-radius: 4px;
  font-size: 20px;
}
.waterButton {
  color: blue;
}

.fireButton {
  color: red;
}

.earthButton {
  color: #128914;
}

.airButton {
  color: white;
}

.results {
  display: grid;
  gap: 10px;
  min-height: 70px;
}

.castResult {
  animation: fadeIn 8s;
  font-size: 1.3rem;
}

.damageResult {
  font-size: 1.3rem;
}

.gameResult {
  font-size: 1.5rem;
  font-weight: 700;
}

.playAgainButton {
  border-radius: 15px;
  font-size: 25px;
}
