html {
  margin: 5px;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
}
/* display: inline-block; 
    float parent and child elements
    */
body {
  text-align: center;
  background-image: url('https://live.staticflickr.com/3165/2558160805_d8cc4d741b_h.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  box-sizing: border-box;
  font-family: 'Balthazar', serif;
  font-size: 3.8rem;
  margin: 1px;
}

h2 {
  box-sizing: border-box;
  font-family: 'Balthazar', serif;
  font-size: 2.5rem;
  margin: 0.3rem;
}

.introduction {
  font-size: 1.9rem;
}

.introductionText {
  margin-top: 0.66rem;
}

.damageTable {
  max-width: 50%;
  /* float: ; */
}

.healthLevels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7.5%;
}

.userHealthLevelCount {
  color: orange;
}
.computerHealthLevelCount {
  color: orange;
}

.callToAction {
  margin: 1.5rem 0 0 0;
  font-size: 2.6rem;
}

.spellButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
  margin: 1rem 0 1.1rem;
}

.waterButton,
.fireButton,
.earthButton,
.airButton {
  background-color: #a1b1bf;
  border-radius: 0.4rem;
  font-size: 2.4rem;
}
.waterButton {
  color: blue;
}

.fireButton {
  color: red;
}

.earthButton {
  color: #128914;
}

.airButton {
  color: white;
}

.results {
  display: grid;
  min-height: 7rem;
}

.castResult {
  font-size: 2.4rem;
}

.damageResult {
  font-size: 2.4rem;
  font-style: italic;
}

.gameResult {
  font-size: 2.5rem;
  font-weight: 700;
}

.playAgainButton {
  border-radius: 1.5rem;
  font-size: 2.5rem;
}
